{% block accreditations %}
	<div class="container mx-auto p-5 lg:p-0 lg:my-16">
		<div class="max-w-full prose lg:prose-xl">
			<h5 class="text-2xl uppercase my-5 font-bold">{{accreditations.accreditationsTitle}}</h5>
			<p class="text-ff-grey">{{accreditations.accreditationsText}}</p>
		</div>
		<div class="flex justify-center items-center">
			<div class="relative flex overflow-x-hidden my-10 lg:w-10/12">
				<div class="absolute top-0 bottom-0 right-0 bg-gradient-to-r from-transparent to-white z-10 w-20"></div>
				<div class="absolute top-0 bottom-0 left-0 bg-gradient-to-l from-transparent to-white z-10 w-20"></div>
				<div class="flex animate-marquee whitespace-nowrap gap-10">
					{% for logo in accreditations.accreditationsLogos.all() %}
						{% set acLogo = logo.logo.one() %}
						<div class="w-44">
							<img src="{{acLogo.getUrl('accreditationsLogos')}}" alt="logo"/>
						</div>
					{% endfor %}
				</div>
				<div class="absolute flex top-0 animate-marquee2 whitespace-nowrap gap-10">
					{% for logo in accreditations.accreditationsLogos.all() %}
						{% set acLogo = logo.logo.one() %}
						<div class="w-44">
							<img src="{{acLogo.getUrl('accreditationsLogos')}}" alt="logo"/>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
