{% block contactBtn %}
	<div class="container mx-auto flex justify-center items-center py-5 my-10">
		<hr class="my-12 h-1 border-t-0 bg-ff-blue w-full mx-auto"/>
		<a href="{{ siteUrl }}contact-us" class="p-5 lg:py-8 lg:px-10 lg:mx-16 rounded-xl font-bold text-lg lg:text-2xl bg-ff-btn-blue text-ff-yellow uppercase whitespace-nowrap">contact us</a>
		<hr class="my-12 h-1 border-t-0 bg-ff-blue w-full mx-auto"/>
	</div>

{% endblock contactBtn %}
