{% block footer %}
	<footer>
		<div class="bg-ff-blue p-5 lg:py-20">
			<div class="container mx-auto flex justify-between flex-wrap gap-16">
				<div class="text-white flex flex-col gap-10 lg:gap-16">
					<img src="{{ siteUrl }}static/img/footer-logo.svg" alt="logo" class="w-2/3">
					<div>
						<p>Trading Number: +44 (0) 208 332 1550</p>
						<p>Trading Email: trading@feedfactors.com</p>
					</div>
					<div>
						<p>Admin Number: +44 (0) 208 332 1992</p>
						<p>Admin Email: admin@feedfactors.com</p>
					</div>
				</div>
				<div
					class="flex flex-wrap gap-16 lg:gap-56">
					{# PRODUCTS LINKS #}
					<div class="text-white flex flex-col gap-10">
						<h6 class="text-ff-yellow uppercase text-2xl">products</h6>
						<div class="flex flex-col">
							<a href="">Organic</a>
							<a href="">Pet Food</a>
							<a href="">Non GM & Animal Feed</a>
							<a href="">Ports and Storage</a>
						</div>
					</div>
					{# CONTACT US #}
					<div class="text-white flex flex-col gap-10">
						<h6 class="text-ff-yellow uppercase text-2xl">contact us</h6>
						<address>Feed Factors Ltd,
							<br>
							The Gallery, Whittaker Avenue
							<br>
							Richmond, TW9 1EH</address>
						<div>
							<p>Tel: +44 (0) 208 332 1550</p>
							<p>Email: trading@feedfactors.com</p>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="p-5 lg:py-8">
			<div class="container mx-auto">
				<div class="grid grid-cols-6 divide-x divide-black justify-between items-center text-center">
					<a href="">Cookie Consent</a>
					<a href="">Privacy</a>
					<a href="">Terms of Use</a>
					<a href="">Sustainability</a>
					<a href="">Human Rights</a>
					<a href="">Tax Strategy</a>
				</div>
			</div>
		</div>
	</footer>
{% endblock %}
