{% extends "index" %}
{% block content %}

	{% set image = entry.heroImage.one() %}
	<div class="hero min-h-screen bg-cover bg-center flex justify-center items-center" style="background-image: url({{ image.url }});">
		<div class="hero-content text-center text-neutral-content">
			<h1 class="py-5 text-white text-5xl font-bold">{{ entry.heroTitle }}</h1>
		</div>

	{% endblock %}
