{% extends "index" %}
{% set pageTitle = "Human Rights and Modern Slavery Statement" %}
{% block content %}

	<div class="container mx-auto p-5 lg:p-0 prose lg:prose-xl">
		{{entry.heroText}}
	</div>

	<hr
	class="my-12 h-1 border-t-0 bg-ff-blue container mx-auto"/>

	{# MARQUEE #}
	{% include "_accreditations" %}

{% endblock %}
